.promo__content{
  display: flex;
  column-gap: 24px;
  padding: 68px 0 0 120px;
  border-radius: 59px;
  background: #F4F6F5;
  .btn{
    padding: 18px 40px;
  }

}
.promo__text{

}
.promo__img{

}
.promo__title{
  color: #000;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 120px;
  margin: 0 0 40px 0;
}
.highlight{
  position: relative;
  &.yellow{
    &:before{
      background: #EBD96B;
    }
  }
  span{
    position: relative;
    z-index: 1;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    background: #FEFEFE;
    top: 0px;
    bottom: 12px;
    left: -20px;
    right: -160px;
    transform: rotate(-2deg);

  }

}
.promo__desc{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
  margin: 0 0 32px 0;
}
.promo__btn-wrapper{
  display: flex;
  column-gap: 34px;
  align-items: center;
  &:before{
    content: '';
    display: inline-block;
    background-image: url("../../img/icons/decor-yellow.svg");
    background-repeat: no-repeat;
    width: 190px;
    height: 32px;
  }

}

