.btn{
  color: #FEFEFE;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  border-radius: 7px;
  background: #000;
  padding: 15px 22px;
  cursor: pointer;

}
